[submodule "src/libK"]
	path = src/libK
	url = https://github.com/libKriging/libKriging.git
	branch = master
[submodule "src/slapack"]
	path = src/slapack
	url = https://github.com/libKriging/slapack.git
	branch = master
