name: devtools-install_github

on:
  push:
  pull_request:
  schedule:
    - cron: '0 2 * * SAT'

# To automatically cancel previous jobs in same branch or PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  install_github:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
        R: [ 'release' ]

    runs-on: ${{ matrix.os }}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
    
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.R }}
          rtools-version: ''

      - name: Install tools for Linux
        run: sudo apt install -y cmake gfortran libcurl4-openssl-dev libfontconfig1-dev
        shell: bash
        if: matrix.os == 'ubuntu-latest'

      - name: Install tools for macOS
        run: brew install cmake gfortran
        shell: bash
        if: matrix.os == 'macOS-latest'
        
        # Should be temporary since it was ok without additional system packages one month ago
      - name: Install additional packages to compile devtools
        shell: bash
        run: sudo apt install -y libharfbuzz-dev libfribidi-dev libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev
        if: matrix.os == 'ubuntu-latest'

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
        with:
          cmake-version: '3.24.x'

      - name: Build and install package
        shell: bash
        run: |
          cd ..
          R CMD INSTALL --build rlibkriging
          # Install the built package
          R CMD INSTALL rlibkriging_*.tar.gz || R CMD INSTALL rlibkriging_*.tgz || R CMD INSTALL rlibkriging_*.zip
          # Verify installation
          Rscript -e "if (!library('rlibkriging', character.only=TRUE, logical.return=TRUE)) quit(status=1, save='no')"
